.button {
    background-color: transparent;
    border: transparent;
    font-family: helvetica;
    color: #cccccc;
    transition: all 0.1s ease-in-out;
    outline: none;
    margin-bottom: 10px;
    background-color: rgba(221, 221, 221, 0.5);
    border-left: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    font-size: 20px
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1)
}
